* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100px;
}
body {
  overflow-y: scroll;
}
a {
  color: #00a0e9;
  font-size: 14px;
}
/* #F9F9F9背景色  button渐变色w gradient:['rgb(29, 98, 240)', 'rgb(25, 213, 253)'] 
.lg-linear{background: linear-gradient(to bottom right, #2aa3df , #2ac3df);}
*/
.header .van-nav-bar {
  background-color: #6cf;
}
/* .home .van-ellipsis {
  color: #fff;
} */
#app .van-nav-bar__title {
  color: #fff;
}

#app .van-nav-bar .van-icon {
  color: #fff;
}

#app .van-nav-bar__text {
  color: #fff;
}

.header .van-nav-bar {
  background-color: #06AE56;
}

textarea {
  border-radius: 10px;
}

/* 解决主页列表的tab头会跟着列表项下滑的问题，写到Home.vue里面不生效 */
.home .section .van-tabs.van-tabs--line .van-tabs__wrap {
  overflow: visible;
}
.home .section .van-tabs.van-tabs--line .van-tabs__content {
  flex: 1;
  overflow: scroll;
  font-size: 14px;
}

.ore .section .company .van-field__control {
  color: #969799;
}

/* 解决详情页 所属公司 名称太长 会换行 */
.van-cell._company .van-cell__title {
  flex: 2;
}
.van-cell._company .van-cell__value {
  flex: 5;
}

.home .help .van-checkbox__icon {
  font-size: 12px;
}

.warning input::placeholder {
  color: #ee0a24;
}
.warning input {
  color: #ee0a24;
}